*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.room {
  max-height: 500px;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(70px, auto);
}

.light-on {
  background-color: #eae3ae;
}

.light-off {
  background-color: rgba(86, 79, 77, 0.85);
}

.lamp {
  height: 120px;
  grid-column: 3;
  grid-row: 1;
}

.lightswitch {
  height: 60px;
  grid-column: 4;
  grid-row: 3;
}

.old-radio {
  width: 190px;
  grid-column: 2/3;
  grid-row: 4;
  align-self: end;
}

.floor {
  background-color: #4a2b1c;
  grid-column: 1/6;
  grid-row: 5;
}

.music {
  width: 180px;
  height: 250px;
  grid-column: 2;
  grid-row: 1/4;
}

.none {
  display: none;
}
